@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url("https://fonts.gstatic.com/s/playfairdisplay/v29/nuFvD-vYSZviVYUb_rj3ij__anPXJzDwcbmjWBN2PKdFvXDTbtPY_Q.woff2");
@import url("https://fonts.googleapis.com/css2?family=Comforter+Brush&display=swap" );

/* section de groupements de texte */
.room-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 97px;
    /* width: 100%; */
    margin: 40px;
}
.room-text-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* max-height: 100vh; */
}

.accommodation{
    font-size: 12px;
    letter-spacing: 4px;
    color: #C19B77;
    margin-top: 0;
}
.all-room{
    font-family: 'Playfair Display';
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 0;
}
.room-blackbox{
    color: #FFF;
    background-color: #373737;
    cursor: pointer;
    box-sizing: border-box;
    height: 39px;
    width: 150px;
    text-align: center;
    padding-top: 10px;
}

.room-blackbox:hover{
    transform: scale(0.9);
}
.room-text-p{
    text-align: start;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1.5px;
    line-height: 1.5em;
    width: 570px;
}

/* //section des photos */
.room-photos{
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* margin-bottom: 40px; */
}
.room{
    position: relative;
    width: 340px;
    height: 220px;
    filter: brightness(80%);
}
.room-description{
    display: flex;
    flex-direction: column;
    position: absolute;
    color: #FFF;
}
.room-graybox{
    height: 28px;
    width: 134px;
    background-color: #c19b77;
    position: absolute;
    top: -200px;
    right: -340px;
    text-align: center;
    padding-top: 12px;
}
.room-name{
    font-family: 'Playfair Display', sans-serif;
    font-size: 18px;
    font-weight: 300;
    font-family: 'Playfair Display';
    white-space: nowrap;
    position: absolute;
    bottom: 60px;
    left: 10px;
}
.space{
    white-space: nowrap;
    margin-left: 10px;
}

.room-type-guest{
    display: flex;
    align-items: center;
    justify-content: center;
    /* font-weight: 00; */
    font-size: 12px;
    font-family: 'Roboto';
    position: absolute;
    bottom: 30px;
    left: 10px;
}

.room-guest{
    height: 23px;
    width: 23px;
}
.room-size{
    width: 20px;
    height: 20px;
    margin-left: 20px;
}
/* //////////implement responsive design */
@media screen and (min-width: 200px) and (max-width: 576px) {
    .room-text{
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .all-room{
        margin: 20px 0 20px;
    }
    .room-text-p{
        text-align: center;
        width: auto;
    }
    .room-blackbox{
        margin-top: 20px;
    }
    /* ////////section of images  */
    .room-photos{
        flex-direction: column;
        /* justify-content: space-around; */
        
    }
    .specific-room{
        max-width: 466px;
        max-height: 302px;
    }
    .room{  
        min-width: 255px;
        min-width: 145px;      
        width: 70vh;
        height: 44vh; 
    }
    .room-graybox{
        top: -290px;
        right: -466px;
    }
}
@media screen and (width <= 475px) {
    .room{  
        
        width: 225px;
        height: 145px;      
    }
    .room-graybox{
        top: -140px;
        right: -225px;
    }
    .room-type-guest{
        visibility: hidden;
        /* display: none; */
    }
    .room-name{
        bottom: 12px;
    }
    .room-type{
        /* /////je veux un degrade de couleur noir en bas de chaque picture(pas correct) */
        background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    }

}


