.calendrier{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 200px;
    width: 100%;
    background-color: #000;
}
.calendrierSquare{
    background-color:#FFF;
    z-index: 10;
    position:relative;
    color:black;
}
.group{
    color: #FFF;
    height: 105px;
    width: 300px;
    margin: 4px;
}
.group-cadre{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 52px;
    width: 270;
    border: 1px solid #FFF;

}
.hidden{
    visibility: hidden;
}
.calendrier:last-child .group-cadre{
    display: flex;
    align-items: center;
    justify-content: center;
}
.group-cadre a{
    text-decoration: none;
    color: #FFF;
    
}


