@import url("https://fonts.gstatic.com/s/playfairdisplay/v29/nuFvD-vYSZviVYUb_rj3ij__anPXJzDwcbmjWBN2PKdFvXDTbtPY_Q.woff2");


.space-color{
    height: 3px;
    background-color: #C19B76;
}
.animate-text{
    /* effect machine a ecrire sur le texte*/
    visibility: hidden;
}
.firstImOverlay{
    /* style du texte sans animation */
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 20px;
    bottom: -220px;
}
.firstImText1{
    color: #C19B76;
    font-size: 20px;
    font-weight: 500;
    font-family: "Roboto";
    margin-bottom: 20px;

}
.firstImText2{
    display: flex;
    flex-direction: column;
    color: #f9f9f9;
    font-size: 80px;
    font-family: "Playfair Display";
}
/* //////////implement responsive design */
@media screen and (min-width: 335px) and (max-width: 576px) {
    .firstImOverlay{
        left: 20px;
        bottom: 10px;
    }
}
@media screen and (min-width: 1024px){
    .firstImOverlay{
        left: 20px;
        bottom: -100px;
    }
}





























