
.new{
    background-image: url("../conponents/assets/images/singleRoom1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFF;
    position: relative;
    top: 1300px;
    height: 1360px;
    width: 100%;
    text-align: center;
   
}
.newHeader{
    background-color: rgba(105, 105, 105, 0.658);
    text-align: center;
    padding-bottom: 30px;
}
.newP{
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 1px;
    font-weight: 300;
    margin-left: 20%;
    margin-right: 20%
}
.newH5{
    padding-top: 140px;
    letter-spacing: 4px;
    text-transform: uppercase;
}
.newH1{
    letter-spacing: 4px;
    text-transform: uppercase;
}
/* la section avec post de l'hotel */
.newPost{
    background-color: #FFF;
    color: #636363;
    position: relative;
    /* height: 730px; */
    text-align: start;
    /* width: 370px; */
}
.postBottom{
    margin-top: 30px;
}
.postTop{
    margin-bottom: 30px;
}
.newFeedBack{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 40px;
}
.newMail{
    height: 210px;
    width: 370px;
    color: #FFF;
    background-color: #5C5C5C;
}
.FeedBack{
    width: 370px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.postImg{
    height: 288px;
    width: 370px;
}
.commentImg{
    height: 25px;
    width: 25px;
}
.avatarImg{
    height: 25px;
    border-radius: 120px;
}
.postOwner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.center{
    display: flex;
    align-items: center;
}
.textPost{
    padding: 40px;
}
.citation{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 370px;
    background-color: #C19B76;
}
.strong{
    font-weight: 600;
    font-size: 23px;
    text-align: center;
    line-height: 2em;
}
.postTitle{
    color: #1c1c1c;
}
.postDescrition{
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1.5px;
}
.ref{
    text-transform: uppercase;
    letter-spacing: 4px;
}
.Postover{
    height:60px;
    width: 60px;
    color: #FFF;
    background-color: #C19B76;
    position: absolute;
    left: 300px;
    bottom: 165px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* pour le main hall */

.newHall{
    height: 300px;
    width: 370px;
}
.hallOverlay{
    position: relative;
}
.OverBottom{
    position: absolute;
    text-align: start;
    bottom: 20px;
    left: 10px;
}
/* //////////implement responsive design */
@media screen and (min-width: 335px) and (max-width: 576px) {
    .new{
        height: 3000px;
    }
    .newFeedBack{
        flex-direction: column;
    }
    .postImg{
        min-width: 90vw;
    }
    .newMail{
        min-width: 90vw;
    }
    .newHall{
        min-width: 90vw;
    }
    .citation{
        min-width: 90vw;
    }
}


