@import url("https://fonts.gstatic.com/s/playfairdisplay/v29/nuFvD-vYSZviVYUb_rj3ij__anPXJzDwcbmjWBN2PKdFvXDTbtPY_Q.woff2");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.reception{
    min-height: 700px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-bottom: 20px; */
}

.img-reception{
    height: 540px;
    width: 540px;
    margin-left: 70px; 
    margin-right: 70px; 
    position:relative;
    z-index: -10;
}
/* //pour faire le overlay */
.overlay-image{
    width: 100vh;
    position: relative;
}
.text-reception{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    color: #fff;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;  
    width: 30%;
    background-color: #C19B77;
    border-top: 15px solid #fff;
    border-right: 15px solid #fff;
    margin-left: 30px;
}
.reception-number{
    font-size: 80px;
    font-weight: 300;
    font-family: "Playfair Display";
}
.reception-description span{
    display: block;
}
.reception-description{
    font-size: 14px;
    font-weight: 400;
    line-height: 2em;
    letter-spacing: 3px;
    font-family: "Roboto";
}
.side-text{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: start;
    margin-left: 60px;   
    margin-right: 60px; 
}
.side-paragraphe{
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1.5px;
    line-height: 1.5em;
}
.small-text{
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 4px;
    color: #C19B77;
}
.trait{
    padding-top: 15px;
    border-bottom: 1px solid #636363;
    margin-bottom: 15px;
    width: 100%;
}
.title{
    font-size: 50px;
    font-family: "Playfair Display";
    line-height: 1.3em;
    font-weight: 400;
}
.text-footer{
    display: flex;
}
.side-icons{
    display: flex;
    flex-direction: column;
    margin-left: 20%;
}
.side-mail{
    display: flex;
    flex-direction: column;
}
.side-email-hotel{
    font-size: 14px;
    letter-spacing: 2px;
}
.side-icons-span{
    display: flex;
    justify-content: space-around;
}
.icons-color{
    color: #636363;
}
.text-footer-gras{
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 4px;
    color: #1C1C1C;
}
/* //////////implement responsive design */
@media screen and (min-width: 335px) and (max-width: 576px) {
    .reception{
        flex-direction: column;
        margin: 40px 10px 30px;
    }

    .overlay-image{
        width: 80vh;
        
    }
    .img-reception{      
        width: 100vh;
        max-width: 500px;
        margin: auto;
    }
    .text-reception{
        width: 75vh;
        margin: 0px;
        border-style: none;
    }
    .reception-description span{
        display: inline;
    }
    .side-text{
        margin-top: 40px;  
        justify-content: center;
        text-align: center;
    }
    .title{
        font-size: 30px;
    }
}








