.service-others{
    position: relative;

}

.services {
    position: relative;
}

.parallax {
    height: 650px;
    width: 100%;
    position: absolute;
    filter: brightness(60%);
}

.white-section {
    position: absolute;
    background-color: #FFF;
    height: 80px;
    width: 100%;
    top: 0;
}

.overlay-div{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #FFF;
    top: 100px;
}
.principal-overlay{
    width: 600px;
    text-align: center;
}
.principal-overlay p{
    font-size: 14px;
    font-weight: 300;
    line-height: 2em;
    letter-spacing: 1.5px;
}
.principal-overlay h1{
    font-size: 50px;
    line-height: 1.3em;
}
.principal-overlay h5{
    font-size: 12px;
    letter-spacing: 4px;
    font-weight: bold;
}
.space-div{
    height: 280px;
    width: 300px;
}
.butons{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 12px;
    font-weight: bold;
}
.gray-buton{
    height: 30px;
    width: 180px;
    background-color: #C19B76;
    letter-spacing: 4px;
    padding-top: 10px;
    cursor: pointer;
}
.black-buton{
    height: 30px;
    width: 180px;
    background-color: #FFF;
    color: #1C1C1C;
    letter-spacing: 4px;
    padding-top: 10px;
    cursor: pointer;
}
.black-buton:hover{
    transform: scale(0.9);
}
.gray-buton:hover{
    transform: scale(0.9);
}
/* part of rectagles with a picture */
.others{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.over-clean{
    position: absolute;
    top: 520px;
    left: 30px; 
}
/* landry */
.over-landry{
    position: absolute;
    top: 520px;
    left: 430px; 
}
#over-block-text{
    color: #FFF;
    line-height: 29px;
}
#over-block-more{
    text-align: center;
    height: 32px;
    color: #1C1C1C;
    margin: 20px 12px 20px 40px;
    background-color: #FFF;
    cursor: pointer;
}
#over-block-more:hover{
    background-color: #C19B76;
    color: #FFF;
}
#over-block-lien{
    text-decoration: none;

    color: #1C1C1C;
    padding-top: 10px;
    font-size: 14px;
    letter-spacing: 4px;
    text-align: center;
}
#over-block-lien:hover{
    color:#FFF;
}
/* meals */
.over-meals{
    position: absolute;
    top: 520px;
    right: 40px; 
}

.room-service{
    position: relative;
    margin-bottom: 0;
    height: 266px;
    width: 370px;
}
.over-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    
    min-height: 300px;
    text-align: start;
   
}

.over-block-text{
    color: #5c5c5c;
    line-height: 29px;
}
.over-block-more{
    text-align: center;
    height: 32px;
    color: #FFF;
    margin: 20px 12px 20px 40px;
    background-color: #C19B76;
    cursor: pointer;
}
.over-block-lien{
    text-decoration: none;

    color: #FFF;
    padding-top: 10px;
    font-size: 14px;
    letter-spacing: 4px;
    text-align: center;
}
.over-block-more:hover{
    background-color: #1C1C1C;
}

.over-line{
    display: flex;
    align-items: flex-end;
}
.over-line span{
    margin-left: 20px;
}
/* //landry rectangle */
